/* STYLESHEET */

html {
    font-family: Montserrat;
    background-color: white;
    font-size: 22px;
}


/* FIRST SECTION */

#hero {
    background-color: #d8d8d8;
    display: flex;
    align-items: center;
}

.left_hero {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 24px;
    padding-right: 24px;
    width: 60%;
}

.right_hero {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: stretch;
    color: #4a4a4a;
    font-size: 25px;
}

button {
    background-color: #4a4a4a;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #eeeeee;
    border-radius: 0;
    border: none;
}


/* SECOND SECTION */

#twin_section {
    display: flex;
    align-items: center;
    background-color: #f3f5f5;
}

.left_section_2 {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 24px;
    padding-right: 24px;
    width: 60%;
    margin: 0%;
    color: #4a4a4a;
    font-size: 25px;
}

.left_section_2 h2 {
    padding-top: 32px;
    padding-bottom: 24px;
    margin: 0;
}

.left_section_2 h5 {
    margin: 0;
    padding-bottom: 32px;
}

.right_section_2 {
    display: flex;
    width: 40%;
    flex-wrap: wrap;
}

.box {
    display: flex;
}

.box img {
    height: auto;
    width: 35%;
    padding-top: 16px;
    padding-left: 16px;
}

.text {
    display: flex;
    width: 65%;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
}


/* FOOTER */

footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px outset #E7E8E9;
}

.right_footer {
    display: flex;
}

.right_footer h5 a {
    padding-right: 24px;
    border-right-width: 24px;
    color: #8A8B8B;
    text-decoration: none;
    padding-top: 16px;
}

.copyright {
    color: #8A8B8B;
    padding-left: 24px;
    padding-top: 16px;
}